h1{
  padding: 0px;
  text-align: center;
  
  color: rgb(187, 187, 187);
  font-size: 60px;  
}

h2{
  padding: 0px;
  text-align: center;
  color: rgb(187, 187, 187);  
}

h3,h4 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  color: rgb(187, 187, 187);
  font-style: italic;
}

body {
  background-color: rgb(3, 3, 70);
}

table{
  font-family: 'Times New Roman', Times, serif;
  color: rgb(15, 15, 15);
  border: 1;
  padding-left: 10px;
}

tr {
  text-align: left;
  padding-left: 10px;
}

td {
  padding-right: 10px;
}

.footer {
  background-color: cornsilk;
  color:rgb(7, 23, 146);
  position: fixed;
  left: 0;
  bottom: 0;
  max-height: 50px;
  width: 100%;
  display:flexbox;
  height: 150px;
  font-size: x-large;
  text-align: center;
  justify-content: left;
  object-fit: contain;
  font-size: small;
  font-weight: bold;
  padding-top: 10px;
  }

ul {
  list-style-type: none;
}

.textbox {
  border: 1px solid #f3f3f3;
  width: 500px;
  height: 2rem;
  box-sizing: content-box;
  padding: 1px 10px;
  outline: none;
  transition: 0.2s ease-in-out;
  margin-right: 10px;
}

.textbox:focus {
  transition: 0.2s ease-in-out;
  border: 1px solid blue;
}

.button {
  background-color: #ffe54c;
  border: 1px solid black;
  padding: 1px 10px;
  /* margin: 4 px 2 px; */
  cursor: pointer;
  font-size: 16px;
  font-weight: 200;
  height: 2.4rem;
  letter-spacing: 1px;  
  outline: 0;
  position: absolute;
  user-select: none;
  /* -webkit-user-select: none; */
  /* touch-action: manipulation; */
}

/* .button:after {
  content: "";
  background-color: #ffe54c;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 2rem;
  top: 7px;
  left: 7px;
  transition: 0.2s;
} */

/* .button:hover:after {
  top: 0px;
  left: 0px;
} */

@media (min-width: 768px) {
  .button {
    padding: 13px 50px 13px;
  }
}

.bannerimg {
  height: 300px;
  padding-bottom: 30px;
}

.banner {
  
  /* background-color: rgb(3, 3, 70); */
}

